:root {
    --option-margin: 1em
}

select.list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 5px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-family: Verdana;
    font-size: 3vw;
    color: #508450;
    border-color: #0e255acf;
    margin: var(--option-margin);
    width: calc(100vw - var(--option-margin) * 2);
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
